# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore all files starting with .
.*
/.DS_Store
*.DS_Store
/.ftpconfig
/.ftpignore
/.sftp-config.json
!.gitignore
.vscode

# Virtual environment
venv/
env/
.venv/

# Environment variables file
.env

# Log files
error.log

# Don't include these files in the repository
# but keep them in the local directory for testing
# and development purposes
#inventory.db
#backup.csv
test.py